<!DOCTYPE html>
<html lang="en">
<head>
  <title>Orléans setup randomiser</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <style>
    th img{ display: block; margin-left: auto; margin-right: auto; }
</style>
</head>
<body>

<div class="container">
  <h2>Orléans setup randomiser</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Player Count</th>
        <th><img src="static/grain.png" style="width:50px;height:50px;"></th>
        <th><img src="static/cheese.png" style="width:50px;height:50px;"></th>
        <th><img src="static/wine.png" style="width:50px;height:50px;"></th>
        <th><img src="static/wool.png" style="width:50px;height:50px;"></th>
        <th><img src="static/brocade.png" style="width:50px;height:50px;"></th>
      </tr>
    </thead>
    <tbody>
        {{range .PlayerCounts}}
        <tr>
            <td>{{.PlayerCount}} Use</td>
            {{range .TilesUsed}}
            <td style="text-align: center">{{.}}</td>
            {{end}}
        </tr>
        <tr>
            <td>{{.PlayerCount}} Remove</td>
            {{range .TilesRemoved}}
            <td style="text-align: center">{{.}}</td>
            {{end}}
        </tr>
        {{end}}
    </tbody>
  </table>
</div>

</body>
</html>
